$primary:  #60A3D9;
$secondary:#0074B7 ;
$dark-accent: #003B73;
$light-accent:#BFD7ED;;
$red-accent: #BFD7ED;;
$off-white: #BFD7ED;

// $off-white: #EDEAD0;
// https://www.canva.com/colors/color-palettes/speckled-eggs/